.fotosize img {
    height: 250px;
    width: auto;
    margin-left: 50px;
    margin-top: 28px;
}
.fotosize {
    height: 600px;
    width: 1200px;
    /*background-color: red; */
    float: left;
   
}

.textinbox {
    height: 100px;
    width: 200px;
    /*background-color: blue;*/
    margin-left: 70px;
    text-align: center;
}
h2 {
   padding:0;
   margin:0;
   font-family: arial;
}
h1 {
   padding:0;
   margin-top:20px;
   margin-left: 50px;
   font-family: arial;
   margin-bottom: 0px;
   
}
.textinbox p {
   padding:0;
   margin:0;
   font-family: arial;

}