.fotosize img {
    height: 250px;
    width: auto;
    margin-left: 10px;
    margin-top: 28px;
}
.boxw {
    height: 300px;
    width: 250px;
    float: left;
    margin-bottom: 120px;
    
}

.boxwfotos img {
    height: 100px;
    width: auto;
    float: left;
    margin-bottom: 50px;
    margin-left: 50px;
    
}


.boxtext {
    height: 50px;
    width: 1200px;
    /*background-color: green;*/
    float: left;
}
.boxtext h1,h2 {
    margin-left: 50px;
    float: left;
    margin-bottom: 10px;
}

.boxtext img {
    height: 20px;
    width: auto;
    padding-bottom: 10px;
    
}

.boxtexten {
    height: 50px;
    width: 1200px;
    /*background-color: green;*/
    float: left;
}

.boxtexten img {
    height: 20px;
    width: auto;
    float: left;
    
}
.boxtexten h2 {
    float: left;
}

.fotosize {
    height: 600px;
    width: 1200px;
    /*background-color: red;*/
    float: left;
    border: 2px solid black;
   
}

.textinbox {
    height: 50px;
    width: 250px;
    /*background-color: blue;*/
    margin-left: 70px;
    text-align: center;
   
}
textinbox h2 {
   padding:0;
   margin:0;
   font-family: arial;
   float: left;
}
h1 {
   padding:0;
   margin-top:20px;
   margin-left: 50px;
   font-family: arial;
   margin-bottom: 0px;
   
}
.textinbox p {
   padding:0;
   margin:0;
   font-family: arial;
   float: left;
   
   text-align: center;
}