/* 
    Created on : 17-okt-2018, 13:54:30
    Author     : Remy Conen
*/

#middleContainer{
    width: 1200px;
    height: 600px;
    background: url('../img/banner1.png');
    float: left;
}

#bigButton{
    height: 100px;
    width: 500px;
    background-color: white;
    font-family: arial;
    font-size: 40px;
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}

#bigButton p{
    
    font-family: arial;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    margin-right: 25px;
}