/*
    Created on : 17-okt-2018, 13:54:30
    Author     : Remy Conen
*/

#middleContainer{
    width: 1200px;
    height: 600px;
    background: url('../img/banner1.png');
    float: left;
    border: none;
}


#bigButton{
    height: 100px;
    width: 500px;
    background-color:rgba(255,255,255, 0.7);
    font-family: arial;
    font-size: 40px;
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}

#bigButton p{

    font-family: arial;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    margin-right: 25px;
}

@media all and (max-width: 500px) {
    #middleContainer {
        width: 500px;
}
    #bigButton{
        width: 400px;
        margin-left: 10px;
        float: left;
}

    #bigButton p{
        font-size: 33px;
}
}
