#middleContainer{
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  border: 2px solid gray;
}

.form_main{
  max-width: 475px;
  margin-left: 100px;
}

.form_header{
  text-align: center;
}

.form_row{
  padding-bottom: 30px;
}

.form_row span{
  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  text-align: right;
  vertical-align: top;
  padding: 12px 18px;
  font-weight: bold;
}

.form_row input{
  padding: 6px 15px;

}

.form_row select{
  background-color: #ffffff;
  color: #5f5f5f;
  box-sizing: border-box;
  max-width: 204px;
  padding: 12px 18px;
  border: 1px solid #afa6a6;
}

.form_input{
  display: block;
  border-radius: 2px;
  background-color: #83BCD9;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin: 20px 160px 0;
}
