
#middleSpaceLeft{
    width: 400px;
    height: 598px;
    float: left;
    background-color: white;
    margin-top: 1px;
}
#middleSpaceUp{
    width: 1199px;
    height: 48px;
    float: left;
    background-color: white;
    margin-top: 1px;
}

#welcome{
    width: 299px;
    height: 88px;
    float: left;
    background-color: #83bcd9;   
}
#welcomeLeft{
    width: 99px;
    height: 88px;
    float: left;
    background-color: #83bcd9; 
}
#welcomeMiddle{
    width: 601px;
    height: 88px;
    float: left;
    background-color: white; 
}
#welcomeRight{
    width: 99px;
    height: 88px;
    float: left;
    background-color: #83bcd9; 
}
#infoLeft{
    width: 299px;
    height: 458px;
    float: left;
    background-color: white; 
}
#infoPic{
    width: 199px;
    height: 228px;
    background-color: grey; 
    margin: 0 auto;
}
#infoMid{
    width: 599px;
    height: 458px;
    float: left;
    background-color: white; 
}
#infoPic img{
    width: 199px;
    height: 228px;
}
#infoRight{
    width: 99px;
    height: 58px;
    float: left;
    background-color: #75a5bd; 
}
h1{
    color: white;
}
h3{
    color: white;
}
/*CONTAINING THE HOMEPAGE FOTO'S AND EXPLORE EDUCATION BUTTON'*/

#middleContainer{
    width: 1200px;
    height: 600px;
    border: 2px solid black;
    float: left;
}
