.opleidingen{
  width: 500px;
  height: 150px;
  padding: 50px;
  float: left;
  margin-top: 25px;
}

.opleidingen_title{
  font-weight: bold;
  padding: 3px;
  font-size: 25px;
}
.opleidingen_subtitle{
  padding: 5px 5px 25px 5px;
  font-size: 20px;
}

.opleidingen_text{
  padding-left: 5px;
  font-size: 15px;
}
